anyio==3.6.1; python_version >= "3.6" and python_full_version >= "3.6.2"
asgiref==3.5.2; python_version >= "3.7"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
blis==0.7.7; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
catalogue==2.0.7; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
certifi==2022.5.18.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
click==8.1.3; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.7.1" and platform_system == "Windows" and python_version < "3.10"
cymem==2.0.6; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
distro==1.7.0; python_version >= "3.7"
fastapi==0.76.0; python_full_version >= "3.6.1"
filelock==3.7.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
flatbuffers==2.0; python_full_version >= "3.7.1" and python_version < "3.10"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.13.0; python_version >= "3.7"
huggingface-hub==0.5.1; python_full_version >= "3.7.1" and python_version < "3.10"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.7.1" and python_version < "3.10"
importlib-metadata==4.11.4; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.7.1"
iniconfig==1.1.1; python_version >= "3.7"
jinja2==3.1.2; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
joblib==1.1.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
langcodes==3.3.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
markupsafe==2.1.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
murmurhash==1.0.7; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
nltk==3.5; python_full_version >= "3.7.1" and python_version < "3.10"
numpy==1.21.6
onnx==1.11.0; python_full_version >= "3.7.1" and python_version < "3.10"
onnxruntime==1.11.1; python_full_version >= "3.7.1" and python_version < "3.10"
orkgnlp==0.4.0; python_full_version >= "3.7.1" and python_version < "3.10"
overrides==6.1.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
packaging==21.3; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
pandas==1.3.5; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
pathy==0.6.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
pluggy==1.0.0; python_version >= "3.7"
preshed==3.0.6; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
protobuf==3.20.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pydantic==1.8.2; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
pyparsing==3.0.9; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
pytest==7.1.2; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
python-multipart==0.0.5
pytz==2022.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
pyyaml==6.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
regex==2022.6.2; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
requests==2.27.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
six==1.16.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.7"
smart-open==5.2.1; python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.7.1"
sniffio==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.2"
spacy-legacy==3.0.9; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
spacy-loggers==1.0.2; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
spacy==3.3.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
srsly==2.4.3; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
starlette==0.18.0; python_version >= "3.6" and python_full_version >= "3.6.1"
tabula-py==2.4.0; python_version >= "3.7"
thinc==8.0.17; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
torch==1.11.0; python_full_version >= "3.7.1" and python_version < "3.10"
tqdm==4.64.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
typer==0.4.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
typing-extensions==3.10.0.2; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.7.1"
typing-utils==0.1.0; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
urllib3==1.26.9; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
uvicorn==0.17.6; python_version >= "3.7"
wasabi==0.9.1; python_full_version >= "3.7.1" and python_version < "3.10" and python_version >= "3.6"
zipp==3.8.0; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.7.1"
